.home-banner-container{
    display: flex;
    margin: 2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.home-banner-img{
    width: 50%;
    object-fit: cover;
    max-height: 400px;
    max-width: 600px;
    min-width: 200px;
    aspect-ratio: 1/1;
}
.home-banner-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    /* background-color: lightgsray; */
}
.home-banner-head{
    font-size: 2rem;
    font-weight: 600;
}
.home-banner-sub{
    font-size: 1.2rem;
}
.home-banner-small{
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-banner-link{
    font-size: 1.1rem;
    color: navy;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;

}
@media (max-width:700px) {
    .home-banner-container{
        flex-direction: column;
    }
    .home-banner-img{
        width: 100%;
    }
    .home-banner-content{
        padding: 1rem;
    }
}
