.prod-list-card-container{
    position: relative;
    min-width: 200px;
    max-width: 250px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border-radius: .3rem;
}
.prod-list-card-img{
    width: 100%;
    margin-bottom: 8px;
    border-radius: .3rem;
}
.prod-list-card-wishlist,.prod-list-card-cart{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    background-color:rgb(239, 239, 239);
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    margin-top: 6px;
}
.prod-list-card-hover-item{
    position: absolute;
    top: 8px ;
    right: 8px;
}
.prod-list-card-name{
    font-size: 1.1rem;
    font-weight: 600;
}
.prod-list-card-price{
    color:green;
}