.app-page-container{
  position: relative;
}
.loading{
  position: fixed;
  top: 30%;
  right: 2rem;
}
.alert{
  position: fixed;
  bottom: 2rem;
  left:50%;
}
.side-nav{
  position: absolute;
  top: 0px;
  right: 0px;

}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}