.cart-list-containe{
    width: 100%;
}
.cart-list{
    list-style: none;
    padding-left: 0px;
    margin-left: 2rem;
}
.cart-list-item{
    margin: 1rem auto;
}
@media (max-width:850px) {
    .cart-list{
        margin-left: 0px;
        margin: 1rem;
    } 
}
/* @media (max-width:850px) {
    .cart-list{
        margin-left: 1rem;
        margin: .5rem;
    }
} */